/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
     * Remove text-shadow in selection highlight:
     * https://twitter.com/miketaylr/status/12228805301
     *
     * Vendor-prefixed and regular ::selection selectors cannot be combined:
     * https://stackoverflow.com/a/16982510/7133471
     *
     * Customize the background color to match your design.
     */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
     * A better looking default horizontal rule
     */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
     * Remove the gap between audio, canvas, iframes,
     * images, videos and the bottom of their containers:
     * https://github.com/h5bp/html5-boilerplate/issues/440
     */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
     * Remove default fieldset styles.
     */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
     * Allow only vertical resizing of textareas.
     */

textarea {
  resize: vertical;
}

/* ==========================================================================
      Author's custom styles
    ========================================================================== */
html {
  font-size: 24px;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hide {
  display: none !important;
}

.alert {
  outline: solid 2 px #d47d5f !important;
}

main img {
  margin: 50px 0 40px 0;
}

.calculator-wrapper {
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 40px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 20px 37px 2px hsl(172, 67%, 45%, 0.2);
}

/*--Input Container--*/

.input-container {
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label,
p {
  display: block;
  font-size: 0.66em;
}

#bill,
#num-people,
button,
#reset {
  cursor: pointer;
}

form #bill,
#num-people {
  width: 100%;
  height: 49px;
  border: none;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  border-radius: 6px;
  box-sizing: border-box;
  padding-right: 15px;
  box-sizing: border-box;
}

/* -- remove default drop down arrow spinners -- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  caret-color: hsl(172, 67%, 45%);
}

#bill {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#num-people {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  margin-top: 10px;
}

#num-people::placeholder,
#bill::placeholder {
  color: hsl(184, 14%, 56%);
}

.btn-group {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  width: 47.5%;
  height: 49px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 0;
}

button:hover {
  background-color: #9fe8df;
  color: hsl(183, 100%, 15%);
}

button:active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

#custom-btn {
  width: 47.5%;
  min-width: 0;
  height: 49px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: hsl(189, 41%, 97%);

  text-align: right;
  box-sizing: border-box;
  padding-right: 15px;
  color: hsl(183, 100%, 15%);
}

#custom-btn::placeholder {
  color: hsl(186, 14%, 43%);
}

.num-people-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.num-people-wrapper p {
  margin: 0;
}

.alert-text {
  color: #d47d5f;
}

/*--Input Container End--*/

/*--Results Container--*/

.results-container {
  width: 86%;
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 15px;
  padding: 30px 0 25px 0;
  margin-top: 30px;
}

.tip-container,
.total-container {
  width: 85%;
  line-height: 0.75em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tip-text,
.total-text {
  width: 35%;
}

.tip-amount,
.total {
  width: 65%;
}

.results-container p span {
  color: hsl(186, 14%, 43%);
  font-size: 0.55rem;
}

.tip-amount,
.total {
  color: hsl(172, 67%, 45%);
  text-align: right;
  font-size: 1.45em;
}

#reset {
  width: 87%;
  height: 49px;
  border-radius: 6px;
  text-transform: uppercase;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  border: none;
  font-size: 0.8em;
  margin-top: 20px;
}

#reset:hover {
  background-color: #9fe8df;
  color: hsl(183, 100%, 15%);
  outline: none;
}

#reset:active {
  transform: scale(0.95);
}

/*--Results Container End--*/

/* --Footer-- */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 60px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/*--Footer End--*/

/*--Media Styles--*/

@media only screen and (min-width: 600px) {
  .calculator-wrapper {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  main img {
    margin: 160px 0 85px 0;
  }

  .calculator-wrapper {
    width: 922px;
    height: 485px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .input-container {
    width: 41%;
    margin-left: 49px;
  }

  .results-container {
    width: 45%;
    height: 418px;
    margin-top: 0;
    margin-right: 33px;
    box-sizing: border-box;
    align-content: flex-start;
  }

  button,
  #custom-btn {
    width: 30.5%;
  }

  .tip-container,
  .total-container {
    width: 80%;
    height: 50px;
  }

  .tip-container {
    margin-top: 20px;
  }

  .total-container {
    margin-top: 45px;
  }

  .tip-amount,
  .total {
    font-size: 2em;
  }
  #reset {
    width: 80%;
    margin-top: 130px;
  }
}

/*--Media Styles End--*/
